{% comment %}
Renders a collection card

Usage:
{% render 'card-collection' %}
{% endcomment %}

<div class="card-collection m--gutter bg--tan-light">

    <div class="card-collection--image">
        {%- if collection.image != blank -%}
        <img
            srcset="{%- if collection.image.width >= 165 -%}{{ collection.image | img_url: '165x' }} 165w,{%- endif -%}
                {%- if collection.image.width >= 360 -%}{{ collection.image | img_url: '360x' }} 360w,{%- endif -%}
                {%- if collection.image.width >= 535 -%}{{ collection.image | img_url: '535x' }} 535w,{%- endif -%}
                {%- if collection.image.width >= 720 -%}{{ collection.image | img_url: '720x' }} 720w,{%- endif -%}
                {%- if collection.image.width >= 940 -%}{{ collection.image | img_url: '940x' }} 940w,{%- endif -%}
                {%- if collection.image.width >= 1070 -%}{{ collection.image | img_url: '1070x' }} 1070w{%- endif -%}"
            src="{{ collection.image | img_url: '533x' }}"
            sizes="(min-width: 1100px) 358px, (min-width: 750px) calc((100vw - 130px) / 3), calc(100vw - 30px)"
            alt="{{ collection.title | escape }}" height="{{ collection.image.height }}"
            width="{{ collection.image.width }}" loading="lazy">
        {%- endif -%}
    </div>

    <div class="card-collection--info t--center p--2">
        <h3 class="h--lg">{{ collection.title | escape }}</h3>
        {% if collection.description != blank %}
        <div class="t--xs mt--1 mb--1">{{ collection.description | escape }}</div>
        {% endif %}
        <a href="{{ collection.url }}" class="button button-xs button-full mt--1">View Collection</a>
    </div>

</div>