{% comment %}
Renders a product card

Accepts:
- product: {Object} Product Liquid object (optional)
- media_size: {String} Size of the product image card. Values are "square" and "portrait". Default is "square"
(optional)
- show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
- add_image_padding: {Boolean} Enables padding on the image to space out the grid
- show_vendor: {Boolean} Show the product vendor. Default: false

Usage:
{% render 'product-card', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{% comment %}
{% if product.featured_media == nil %} card--text-only card--soft{% endif %}
<a href="{{ product.url | default: '#' }}" class="t--unstyled"></a>
{% endcomment %}


<div class="card-cross-sell m--gutter">

    <!-- <span class="xvisually-hidden">{{ product.title | escape }}</span> -->

    <div class="card-cross-sell--image">
        {%- if image -%}
        <img src="{{ image | img_url: '900x' }}" alt="" height="{{ block.settings.image.height }}" width="{{ block.settings.image.width }}" loading="lazy">		
        {% else %}
        <img srcset="{%- if product.featured_media.width >= 165 -%}{{ product.featured_media | img_url: '165x' }} 165w,{%- endif -%}
            {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | img_url: '360x' }} 360w,{%- endif -%}
            {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | img_url: '533x' }} 533w,{%- endif -%}
            {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | img_url: '720x' }} 720w,{%- endif -%}
            {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | img_url: '940x' }} 940w,{%- endif -%}
            {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | img_url: '1066x' }} 1066w{%- endif -%}"
            src="{{ product.featured_media | img_url: '533x' }}"
            sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
            alt="{{ product.featured_media.alt | escape }}"
            loading="lazy"
            class="motion-reduce"
            width="{{ product.featured_media.width }}"
            height="{{ product.featured_media.height }}"
        >
        {%- endif -%}
    </div>

    <div class="card-cross-sell--info p--1">

        <div>
            {%- if show_vendor -%}
            <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
            <div class="caption-with-letter-spacing light">{{ product.vendor }}</div>
            {%- endif -%}
            
            {%- if product.featured_media -%}
            <h3 class="h--lg card-information__text h5">
                {{ product.title | escape }}
            </h3>
            {%- endif -%}
            {% if description != blank %}
            <div class="t--xs mt--1 mb--1">{{ description | escape }}</div>
            {% endif %}
            {% render 'price', product: product, price_class: 't--xs' %}
        </div>

        <div class="mt--2">
            <a href="{{ product.url }}" class="button button-arrow">Add to Bag</a>
        </div>

    </div>
</div>
