{% comment %}{{ 'customer.css' | asset_url | stylesheet_tag }}{% endcomment %}

<div class="customer-form reset-password inner inner-narrow pt--5 pb--5">
  	
  	<div class="t--center">

	<h1 class="h--xl mb--1">
		{{ 'customer.reset_password.title' | t }}
	</h1>
	<p class="t--sm">
		{{ 'customer.reset_password.subtext' | t: email: email }}
	</p>
      
  </div>
	{%- form 'reset_customer_password' -%}
		{%- if form.errors -%}
			<div class="form__message customer-login-error mb--1" tabindex="-1" autofocus>
				{{ 'templates.contact.form.error_heading' | t }}
				{%- for field in form.errors -%}
				{%- if field == 'form' -%}
				<br>{{ form.errors.messages[field] }}
				{%- endif -%}
				{%- endfor -%}
			</div>
			{% comment %}<ul>
				{%- for field in form.errors -%}
					<li>
						{%- if field == 'form' -%}
							{{ form.errors.messages[field] }}
						{%- else -%}
							<a href="#{{ field }}">
								{{ form.errors.translated_fields[field] | capitalize }}
								{{ form.errors.messages[field] }}
							</a>
						{%- endif -%}
					</li>
				{%- endfor -%}
			</ul>
			{% endcomment %}
		{%- endif -%}

		<div class="field">   
          <label for="password">
				{{ 'customer.reset_password.password' | t }}
			</label>
			<input
				class="full"
				type="password"
				name="customer[password]"
				id="password"
				autocomplete="new-password"
				{% if form.errors contains 'password' %}
					aria-invalid="true"
					aria-describedby="password-error"
				{% endif %}
				placeholder="{{ 'customer.reset_password.password' | t }}"
			>
			{%- if form.errors contains 'password' -%}
				<small id="password-error" class="form__message">
					{{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}
				</small>
			{%- endif -%}
		</div>

		<div class="customer-login-field">
			<label for="password_confirmation">
				{{ 'customer.reset_password.password_confirm' | t }}
			</label>     
			<input
                class="full"
				type="password"
				name="customer[password_confirmation]"
				id="password_confirmation"
				autocomplete="new-password"
				{% if form.errors contains 'password_confirmation' %}
					aria-invalid="true"
					aria-describedby="password_confirmation-error"
				{% endif %}
				placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
			>
			{%- if form.errors contains 'password_confirmation' -%}
				<small id="password_confirmation-error" class="form__message">
					{{ form.errors.translated_fields['password_confirmation'] | capitalize }} {{ form.errors.messages['password_confirmation'] }}
				</small>
			{%- endif -%}
		</div>

		<button class="button button-full button-solid mt--1 mb--1">
			{{ 'customer.reset_password.submit' | t }}
		</button>

	{%- endform -%}
</div>
