<div id="hero-{{ section.id }}" class="bg--silhouette bg--yellow" data-bg="yellow">
    <div class="inner">
        <div class="columns pt--5 pb--5">
            <div class="column valign-center" data-col="2">
                <div class="mr--5">
                    {%- liquid render 'wile-badge' -%}
                    <h2 class="h--xs mb--1 mt--2" {{ block.shopify_attributes }}>
                        {{ section.settings.main_subheading | newline_to_br }}
                    </h2>
                    <h3 class="h--lg" {{ block.shopify_attributes }}>
                        {{ section.settings.main_heading | newline_to_br }}
                    </h3>
                </div>
            </div>
            <div class="column valign-bottom" data-col="2">
                <div class="mt--2">
                    {%- for block in section.blocks -%}
                        {%- case block.type -%}
                            {%- when 'heading' -%}
                                {% if block.settings.heading != blank %}
                                    <h3 class="h--lg">{{ block.settings.heading | newline_to_br }}</h3>
                                {% endif %}
                            {%- when 'text' -%}
                                <div class="mt--1" {{ block.shopify_attributes }}>
                                {{ block.settings.text | newline_to_br }}
                                </div>
                        {%- endcase -%}
                    {%- endfor %}
                    <div class="list-items mt--3">
                    {% assign count = 0 %}
                    {%- for block in section.blocks -%}
                        {%- case block.type -%}
                            {%- when 'list' -%}
                            {% assign count = count | plus: 1 %}
                            <div class="list-item" data-list-count="{{ count }}">
                                <h4 class="h--md">{{ block.settings.heading }}</h4>
                                <p class="t--sm">{{ block.settings.text }}</p>
                            </div>
                        {%- endcase -%}
                    {%- endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
"name": "How It Works",
"tag": "section",
"settings": [
    {
        "type": "textarea",
        "id": "main_subheading",
        "label": "Main Subheading"
    },
    {
        "type": "textarea",
        "id": "main_heading",
        "label": "Main Heading"
    }
],
"blocks": [
	{
		"type": "heading",
		"name": "Heading",
		"limit": 1,
		"settings": [
			{
				"type": "textarea",
				"id": "heading",
				"label": "Heading"
			}
		]
	},
	{
		"type": "text",
		"name": "Text",
		"limit": 1,
		"settings": [
			{
				"type": "textarea",
				"id": "text",
				"label": "Text"
			}
		]
	},
	{
		"type": "list",
		"name": "List",
		"limit": 4,
		"settings": [
            {
                "type": "textarea",
                "id": "heading",
                "label": "Heading"
            },
            {
				"type": "textarea",
				"id": "text",
				"label": "Text"
			}
		]
	}
],
"presets": [
	{
		"name": "How It Works"
	}
]
}
{% endschema %}