<!-- {{ 'section-blog-post.css' | asset_url | stylesheet_tag }} -->

<article class="bg--white" itemscope itemtype="http://schema.org/BlogPosting">
	
	<header class="inner inner-narrow pt--5 pb--5 t--center" {{ block.shopify_attributes }}>
		<h1 class="h--xxl h--italic" itemprop="headline">{{ article.title | escape }}</h1>
		{% if article.excerpt != blank %}
		<h2 class="h--lg mt--2">{{ article.excerpt | strip_html }}</h2>
		{% endif %}

      	{% comment %}
		{%- if article.tags.size > 0 -%}
		<div class="article-tags">
			{%- for tag in article.tags -%}
			<a href="/{{ tag | handleize }}">{{ tag }}</a>
			{%- endfor -%}
		</div>
		{%- endif -%}
      	{% endcomment %}

		{% comment %}
		<span class="" itemprop="dateCreated pubdate datePublished">{{ article.published_at | time_tag: format: 'month_year' }}</span>
		<span class="" itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span itemprop="name">{{ article.author }}</span>
		</span>
		{% endcomment %}
	</header>

	{%- if article.image -%}
	<div class="article-hero inner" {{ block.shopify_attributes }}>
		<div class="article-hero-{{ block.settings.image_height }} media" itemprop="image">
			<img src="{{ article.image | img_url: '1200x600', crop: 'center', scale: 1 }}"
              alt="{{ article.image.src.alt | escape }}"
              loading="lazy"
              class="motion-reduce"
			  height=""
			  width=""
            >
			{% comment %}
			<img srcset="{% if article.image.width >= 350 %}{{ article.image | img_url: '350x' }} 350w,{% endif %}
					{% if article.image.width >= 700 %}{{ article.image | img_url: '700x' }} 700w,{% endif %}
					{% if article.image.width >= 749 %}{{ article.image | img_url: '749x' }} 749w,{% endif %}
					{% if article.image.width >= 1498 %}{{ article.image | img_url: '1498x' }} 1498w,{% endif %}
					{% if article.image.width >= 1100 %}{{ article.image | img_url: '1100x' }} 1100w,{% endif %}
					{% if article.image.width >= 2200 %}{{ article.image | img_url: '2200x' }} 2200w,{% endif %}"
				sizes="(min-width: 1200px) 1100px, (min-width: 750px) calc(100vw - 10rem), 100vw"
				src="{{ article.image | img_url: '1100x' }}"
				loading="lazy"
				width="{{ article.image.width }}"
				height="{{ article.image.height }}"
				alt="{{ article.image.alt | escape }}">
				<div class="article-hero-caption"></div>
			{% endcomment %}
		</div>
	</div>
	{%- endif -%}

	{% if article.content != blank %}
	<div class="article-content inner inner-narrow pt--3 pb--3 rte" itemprop="articleBody" {{ block.shopify_attributes }}>
		{{ article.content }}
		{%- for block in section.blocks -%}
		{%- case block.type -%}
			{%- when 'article_disclaimer' -%}
			<div class="article-disclaimer mt--3 t--sm">
				<strong>Disclaimer</strong><br><br>
				<em>{{ block.settings.text }}</em>
			</div>
		{%- endcase -%}
		{%- endfor -%}
	</div>
	{% endif %}
	<div class="article-sharing inner inner-narrow mb--5" {{ block.shopify_attributes }}>
		<div class="article-pagination">
			{% if blog.previous_article %}
			<a href="{{ blog.previous_article }}" class="t--sm t--link t--link-rev">Previous</a>
			{% endif %}
			{% if blog.next_article %}
			<a href="{{ blog.next_article }}" class="t--sm t--link">Next</a>
			{% endif %}
		</div>
		<p class="t--xxs t--center t--upper c--gray">Share</p>
		{% render 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
	</div>

</article>

{%- for block in section.blocks -%}
{%- case block.type -%}
	{%- when 'article_product' -%}
		<div class="article-product inner">
			<h3 class="h--xl t--center h--italic">Hormonal wellness for grown women</h3>
			<div class="columns mt--2 mb--5">
				<div class="column" data-col="2">
				{% if block.settings.image != blank -%}
				<img srcset="{%- if block.settings.image.width >= 375 -%}{{ block.settings.image | img_url: '375x' }} 375w,{%- endif -%}
					{%- if block.settings.image.width >= 750 -%}{{ block.settings.image | img_url: '750x' }} 750w,{%- endif -%}
					{%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
					{%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
					{%- if block.settings.image.width >= 1780 -%}{{ block.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
					{%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
					{%- if block.settings.image.width >= 2800 -%}{{ block.settings.image | img_url: '2800x' }} 2800w{%- endif -%}"
					sizes="{% if block.settings.image_2 != blank and block.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif block.settings.image_2 != blank %}50vw{% else %}100vw{% endif %}"
					src="{{ block.settings.image | img_url: '750x' }}"
					loading="lazy"
					alt="{{ block.settings.image.alt | escape }}"
					width="{{ block.settings.image.width }}"
					height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio }}"
				>
				{%- endif -%}
				</div>
				<div class="column valign-center t--center" data-col="2">
					<div class="m--3">
						<h3 class="h--lg mb--2" {{ block.shopify_attributes }}>
							{{ block.settings.heading | newline_to_br }}
						</h2>
						<div class="" {{ block.shopify_attributes }}>
							{{ block.settings.text | newline_to_br }}
						</div>
						<div class="mt--2" {{ block.shopify_attributes }}>
							{%- if block.settings.button_label != blank -%}
							<a{% if block.settings.button_link != blank %} href="{{ block.settings.button_link }}"{% endif %} class="button button-arrow"{% if block.settings.button_link == blank %} aria-disabled="true"{% endif %}>{{ block.settings.button_label | escape }}</a>
							{%- endif -%}
						</div>
					</div>
				</div>
			</div>
		</div>
{%- endcase -%}
{%- endfor -%}

<div class="article-related inner">
	<h3 class="h--xl t--center">Keep calm and read on</h3>
	<div class="columns mt--2 mb--5">
	{%- assign relatedTotal = 0 -%}
	{%- for related in blog.articles -%}
		{%- if related.id != article.id -%}
		<div class="column" data-col="3">
			{%- render 'article-card-static', article: related, show_image: true -%}
		</div>
		{%- assign relatedTotal = relatedTotal | plus: 1 -%}
		{%- endif -%}
		{% if relatedTotal >= 3 %}
		{% break %}
		{% endif %}
	{% endfor %}
	</div>
</div>



{% comment %}
{%- for block in section.blocks -%}
	{%- case block.type -%}
		{%- when '@app' -%}
				<div class="page-width page-width--narrow">
					{% render block %}
				</div>
			{%- when 'social_sharing'-%}
				<div class="article-template__social-sharing page-width page-width--narrow" {{ block.shopify_attributes }}>
					{% render 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
				</div>
	{%- endcase -%}
{%- endfor -%}
{% endcomment %}

	{% comment %}
	<div class="element-margin center">
		<a href="{{ blog.url }}" class="article-template__link link{% if blog.comments_enabled? == false %} spaced-section{% endif %}">
			{% render 'icon-arrow' %}
			{{ 'blogs.article.back_to_blog' | t: title: blog.title }}
		</a>
	</div>

	{%- if blog.comments_enabled? -%}
		<div class="article-template__comment-wrapper background-secondary">
			<div id="comments" class="page-width page-width--narrow">
				{%- if article.comments_count > 0 -%}
					{%- assign anchorId = '#Comments-' | append: article.id -%}

					<h2 id="Comments-{{ article.id }}">{{ 'blogs.article.comments' | t: count: article.comments_count }}</h2>
					{% paginate article.comments by 5 %}
						<div class="article-template__comments">
							{%- if comment.status == 'pending' and comment.content -%}
								<article id="{{ comment.id }}" class="article-template__comments-comment">
									{{ comment.content }}
									<footer class="right">
										<span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span>
									</footer>
								</article>
							{%- endif -%}

							{%- for comment in article.comments -%}
								<article id="{{ comment.id }}" class="article-template__comments-comment">
									{{ comment.content }}
									<footer class="right">
										<span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span><span class="caption-with-letter-spacing">{{ comment.created_at | time_tag: format: 'month_year' }}</span>
									</footer>
								</article>
							{%- endfor -%}
							{% render 'pagination', paginate: paginate, anchor: anchorId %}
						</div>
					{% endpaginate %}
				{%- endif -%}
				{% form 'new_comment', article %}
					{%- liquid
						assign post_message = 'blogs.article.success'
						if blog.moderated? and comment.status == 'unapproved'
							assign post_message = 'blogs.article.success_moderated'
						endif
					-%}
					<h2>{{ 'blogs.article.comment_form_title' | t }}</h2>
					{%- if form.errors -%}
						<div class="form__message" role="alert">
							<h3 class="form-status caption-large" tabindex="-1" autofocus>
								{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}
							</h3>
						</div>
						<ul class="form-status-list caption-large">
							{%- for field in form.errors -%}
								<li>
									<a href="#CommentForm-{{ field }}" class="link">
										{%- if form.errors.translated_fields[field] contains 'author' -%}
											{{ 'blogs.article.name' | t }}
										{%- elsif form.errors.translated_fields[field] contains 'body'-%}
										 {{ 'blogs.article.message' | t }}
										{%- else -%}
											{{ form.errors.translated_fields[field] }}
										{%- endif -%}
										{{ form.errors.messages[field] }}
									</a>
								</li>
							{%- endfor -%}
						</ul>
					{%- elsif form.posted_successfully? -%}
						<div class="form-status-list form__message" role="status">
							<h3 class="form-status" tabindex="-1" autofocus>{% render 'icon-success' %} {{ post_message | t }}</h3>
						</div>
					{%- endif -%}

					<div{% if blog.moderated? == false %} class="article-template__comments-fields"{% endif %}>
						<div class="article-template__comment-fields">
							<div class="field field--with-error">
								<input
									type="text"
									name="comment[author]"
									id="CommentForm-author"
									class="field__input"
									autocomplete="name"
									value="{{ form.author }}"
									aria-required="true"
									{% if form.errors contains 'author' %}
										aria-invalid="true"
										aria-describedby="CommentForm-author-error"
									{% endif %}
									placeholder="{{ 'blogs.article.name' | t }}"
								>
								<label class="field__label" for="CommentForm-author">{{ 'blogs.article.name' | t }} <span aria-hidden="true">*</span></label>
								{%- if form.errors contains 'author' -%}
									<small id="CommentForm-author-error">
										<span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.name' | t }} {{ form.errors.messages['author'] }}.</span>
									</small>
								{%- endif -%}
							</div>
							<div class="field field--with-error">
								<input
									type="email"
									name="comment[email]"
									id="CommentForm-email"
									autocomplete="email"
									class="field__input"
									value="{{ form.email }}"
									autocorrect="off"
									autocapitalize="off"
									aria-required="true"
									{% if form.errors contains 'email' %}
										aria-invalid="true"
										aria-describedby="CommentForm-email-error"
									{% endif %}
									placeholder="{{ 'blogs.article.email' | t }}"
								>
								<label class="field__label" for="CommentForm-email">{{ 'blogs.article.email' | t }} <span aria-hidden="true">*</span></label>
								{%- if form.errors contains 'email' -%}
									<small id="CommentForm-email-error">
										<span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.email' | t }} {{ form.errors.messages['email'] }}.</span>
									</small>
								{%- endif -%}
							</div>
						</div>
						<div class="field field--with-error">
							<textarea
								rows="5"
								name="comment[body]"
								id="CommentForm-body"
								class="text-area field__input"
								aria-required="true"
								{% if form.errors contains 'body' %}
									aria-invalid="true"
									aria-describedby="CommentForm-body-error"
								{% endif %}
								placeholder="{{ 'blogs.article.message' | t }}"
							>{{ form.body }}</textarea>
								<label class="form__label field__label" for="CommentForm-body">{{ 'blogs.article.message' | t }} <span aria-hidden="true">*</span></label>
						</div>
						{%- if form.errors contains 'body' -%}
							<small id="CommentForm-body-error">
								<span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.message' | t }} {{ form.errors.messages['body'] }}.</span>
							</small>
						{%- endif -%}
					</div>
					{%- if blog.moderated? -%}
						<p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
					{%- endif -%}
					<input type="submit" class="button" value="{{ 'blogs.article.post' | t }}">
				{% endform %}
			</div>
	</div>
	{%- endif -%}

	{% endcomment %}


{% schema %}
{
	"name": "t:sections.main-article.name",
	"tag": "section",
	"blocks": [
		{
			"type": "@app"
		},
		{
			"type": "social_sharing",
			"name": "t:sections.main-article.blocks.social_sharing.name",
			"limit": 1
		},
		{
			"type": "article_disclaimer",
			"name": "Disclaimer",
			"limit": 1,
			"settings": [
				{
					"type": "textarea",
					"id": "text",
					"label": "Disclaimer"
				}
			]
		},
		{
			"type": "article_product",
			"name": "Featured Product",
			"limit": 1,
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "textarea",
					"id": "heading",
					"label": "Heading"
				},
				{
					"type": "textarea",
					"id": "text",
					"label": "Text"
				},
				{
					"type": "text",
					"id": "button_label",
					"label": "Button Label"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Button Link"
				}
			]
		}
	]
}
{% endschema %}
