{% liquid
	assign colors = 'bg--blue,bg--green-dark' | split: ','
	assign button_rev = false
%}

{%- if colors contains section.settings.bg_color -%}
	{%- assign button_rev = true %}
    {%- assign text_color = 'c--tan' -%}
	{%- else -%}
    {%- assign text_color = 'c--base' -%}
{%- endif -%}

<div id="{{ section.id }}" class="{{ section.settings.bg_color }}{% if section.settings.show_silhouette %} bg--silhouette{% endif %}{% if section.settings.bg_image != blank %} bg--image{% endif %}"{% if section.settings.bg_image != blank %} style="background-image:url({{ section.settings.bg_image | img_url: '1920x' }})"{% endif %}>
	<div class="inner {{ section.settings.spacing }} pb--1 t--center"{% if section.settings.max_width != '1400' %} style="max-width:{{ section.settings.max_width | append: 'px' }}"{% endif %}>
		<div class="body">
		{%- for block in section.blocks -%}
		{%- case block.type -%}
			{%- when 'heading' -%}
				{% if block.settings.subheading != blank %}
					<h2 class="h--sm h--sans mb--2 mt--2 {{ text_color }}">{{ block.settings.subheading | newline_to_br }}</h2>
				{% endif %}
				{% if block.settings.heading != blank %}
					<h3 class="{{ block.settings.heading_size }} {{ text_color }}">{{ block.settings.heading | newline_to_br }}</h3>
				{% endif %}
			{%- when 'subheading' -%}
				{% if block.settings.subheading != blank %}
					<h3 class="{{ block.settings.subheading_size }} {{ text_color }} mt--2">{{ block.settings.subheading | newline_to_br }}</h3>
				{% endif %}
			{%- when 'text' -%}
				<div class="mt--2 {{ text_color }} {{ block.settings.text_size }}" {{ block.shopify_attributes }}>
				{{ block.settings.text | newline_to_br }}
				</div>
			{%- when 'image' -%}
				<div class="mt--2 mt--2 {{ text_color }}" {{ block.shopify_attributes }}>
					<div>
						<img src="{{ block.settings.image | img_url: '1400x' }}" alt="" style="max-width:{{ block.settings.max_width | append: 'px' }}" height="" width="" loading="lazy">
					</div>
					<div class="mt--1 t--sm">
						{{ block.settings.caption | newline_to_br }}
					</div>
				</div>
			{%- when 'button' -%}
				{%- if block.settings.button_link != blank -%}
					<a href="{{ block.settings.button_link }}" class="button mt--2 button-arrow{% if button_rev %} button-rev{% endif %}">{{ block.settings.button_label | escape }}</a>
				{%- endif -%}
			{%- when 'quote' -%}
				{%- if block.settings.image != blank -%}
				{%- assign image_size = block.settings.image_width | append: 'px' -%}
				<div class="quote-caption mt--3">
					<div class="quote-caption-image">
						<img src="{{ block.settings.image | img_url: '750x' }}" alt="" style="max-width:{{ image_size }}" height="" width="" loading="lazy">
					</div>
					<div class="quote-caption-text {{ text_color }}">
						{{ block.settings.caption | newline_to_br }}
					</div>
				</div>
				{%- endif -%}
			{%- endcase -%}
		{%- endfor -%}
		</div>
		{%- if section.settings.show_badge -%}
		<div class="mt--2">
			{%- liquid render 'wile-badge' -%}
		</div>
		{%- endif -%}
	</div>
</div>

{% schema %}
{
	"name": "Content",
	"tag": "section",
	"settings": [
		{
			"type": "checkbox",
			"id": "show_badge",
			"label": "Show badge",
			"default": false
		},
		{
			"type": "image_picker",
			"id": "bg_image",
			"label": "Background Image"
		},
		{
			"type": "select",
			"id": "bg_color",
			"label": "Background color",
			"options": [
				{
					"value": "bg--white",
					"label": "White"
				},
				{
					"value": "bg--tan",
					"label": "Tan"
				},
				{
					"value": "bg--yellow",
					"label": "Yellow"
				},
				{
					"value": "bg--blue",
					"label": "Blue"
				},
				{
					"value": "bg--green-dark",
					"label": "Dark Green"
				},
				{
					"value": "bg--peach",
					"label": "Peach"
				}
			],
			"default": "bg--tan"
		},
		{
			"type": "select",
			"id": "spacing",
			"label": "Spacing",
			"options": [
				{
					"value": "pt--1 pb--1",
					"label": "Small"
				},
				{
					"value": "pt--3 pb--3",
					"label": "Medium"
				},
				{
					"value": "pt--5 pb--5",
					"label": "Large"
				}
			],
			"default": "pt--1 pb--1"
		},
		{
			"type": "range",
			"id": "max_width",
			"min": 700,
			"max": 1400,
			"step": 100,
			"default": 1400,
			"unit": "px",
			"label": "Max width"
		},
		{
			"type": "checkbox",
			"id": "show_silhouette",
			"label": "Show silhouette background",
			"default": false
		}
	],
	"blocks": [
		{
			"type": "heading",
			"name": "Heading",
			"limit": 1,
			"settings": [
				{
					"type": "textarea",
					"id": "subheading",
					"label": "Subheadline"
				},
				{
					"type": "textarea",
					"id": "heading",
					"label": "Headline"
				},
				{
					"type": "select",
					"id": "heading_size",
					"label": "Heading size",
					"options": [
						{
							"value": "h--xxxl",
							"label": "XXX-Large"
						},
						{
							"value": "h--xxl",
							"label": "XX-Large"
						},
						{
							"value": "h--xl",
							"label": "X-Large"
						},
						{
							"value": "h--lg",
							"label": "Large"
						}
					],
					"default": "h--lg"
				}
			]
		},
		{
			"type": "subheading",
			"name": "Subheading",
			"settings": [
				{
					"type": "textarea",
					"id": "subheading",
					"label": "Subheadline"
				},
				{
					"type": "select",
					"id": "subheading_size",
					"label": "Heading size",
					"options": [
						{
							"value": "h--xxl",
							"label": "XX-Large"
						},
						{
							"value": "h--xl",
							"label": "X-Large"
						},
						{
							"value": "h--lg",
							"label": "Large"
						}
					],
					"default": "h--lg"
				}
			]
		},
		{
			"type": "image",
			"name": "Image",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "textarea",
					"id": "caption",
					"label": "Caption"
				},
				{
					"type": "range",
					"id": "max_width",
					"min": 300,
					"max": 1400,
					"step": 100,
					"default": 1400,
					"unit": "px",
					"label": "Max width"
				}
			]
		},
		{
			"type": "text",
			"name": "Text",
			"settings": [
				{
					"type": "textarea",
					"id": "text",
					"label": "Text"
				},
				{
					"type": "select",
					"id": "text_size",
					"label": "Text size",
					"options": [
						{
							"value": "t--lg",
							"label": "Large"
						},
						{
							"value": "t--md",
							"label": "Medium"
						},
						{
							"value": "t--sm",
							"label": "Small"
						},
						{
							"value": "t--xs",
							"label": "X-Small"
						}
					],
					"default": "t--md"
				}
			]
		},
		{
			"type": "quote",
			"name": "Quote",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Photo"
				},
				{
					"type": "range",
					"id": "image_width",
					"min": 50,
					"max": 250,
					"step": 10,
					"default": 100,
					"unit": "px",
					"label": "Image width"
				},
				{
					"type": "textarea",
					"id": "caption",
					"label": "Caption"
				}
			]
		},
		{
		"type": "button",
		"name": "Button",
		"limit": 1,
		"settings": [
			{
				"type": "text",
				"id": "button_label",
				"default": "Button label",
				"label": "Button label"
			},
			{
				"type": "url",
				"id": "button_link",
				"label": "Button Link"
			}
			]
		}
	],
	"presets": [
		{
			"name": "Content",
			"blocks": [
				{
					"type": "heading"
				}
			]
		}
	]
}
{% endschema %}
