<div class="bg--tan"> 
	
	<div class="product inner pb--4">

		<div class="product-media mb--2">

			<div class="product-media__content">

				<div class="product-media__images">

					<div id="productMediaSlider">
						<div class="splide__track">
							<div class="splide__list">
								{%- for media in product.media -%}
									{%- if media.media_type == 'image' -%}
										<div class="splide__slide">
											<img srcset="{%- if media.preview_image.width >= 550 -%}
												{{ media.preview_image | img_url: '550x' }} 550w,{%- endif -%}
												{%- if media.preview_image.width >= 1100 -%}
												{{ media.preview_image | img_url: '1100x' }} 1100w,{%- endif -%}
												{%- if media.preview_image.width >= 1680 -%}
												{{ media.preview_image | img_url: '1680x' }} 1680w,{%- endif -%}
												{%- if media.preview_image.width >= 2048 -%}
												{{ media.preview_image | img_url: '2048x' }} 2048w,{%- endif -%}
												{%- if media.preview_image.width >= 4096 -%}
												{{ media.preview_image | img_url: '4096x' }} 4096w{%- endif -%}"
												sizes="(min-width: 750px) calc(100vw - 12rem), 100vw"
												src="{{ media.preview_image | img_url: '750x' }}"
												alt="{{ media.alt | escape }}"
												loading="lazy"
												width="1100"
												height="{{ 1100 | divided_by: media.preview_image.aspect_ratio | ceil }}"
												data-media-id="{{ media.id }}">
									</div>
									{%- endif -%}
								{% endfor %}
							</div>
						</div>
					</div>

				</div>

				{%- comment -%}
					--- Product media thumbnails
				{%- endcomment -%}

				<div class="product-media__thumbs" id="productMediaSlider-thumbs">
					<div class="splide__track">
						<div class="splide__list">
							{%- for media in product.media -%}
								{%- if media.media_type == 'image' -%}
									<div class="splide__slide">
										<img src="{{ media.preview_image | img_url: '100x' }}" alt="{{ media.alt | escape }}" loading="lazy" height="" width="100">
									</div>
								{%- endif -%}
							{% endfor %}
						</div>
					</div>
				</div>

			</div>

		</div>

		<div id="ProductInfo-{{ section.id }}" class="product-info">

			<div class="product-info__summary">

				{%- comment -%}
					--- Product title, review and description
				{%- endcomment -%}

				<h1 class="h--xl">
					{{ product.title | escape }}
				</h1>

				{%- for block in section.blocks -%}
					{%- case block.type -%}
						{%- when 'cutline' -%}
						{% if block.settings.cutline_text != blank %}
							<h2 class="t--md h--sans mb--1 t--upper">{{ block.settings.cutline_text }}</h2>
						{% endif %}
					{%- endcase -%}
				{%- endfor -%}

                {%- for block in section.blocks -%}
  					{%- case block.type -%}
  						{%- when 'popup' -%}
  						{% if block.settings.popup_title != blank %}
                            <div class="product-info__popup-label t--xs h--sans mb--1">
        						<strong>{{ block.settings.popup_title }}</strong>
                                {% if block.settings.popup_text != blank %}
                                <a href="#" class="product-info__popup-link">Details</a>
                                {% endif %}
                            </div>
                            {% if block.settings.popup_text != blank %}
                            <div class="product-info__popup" id="product-info__popup">
                                <div class="product-info__popup-inner">
                                  <button class="product-info__popup-close">Close</button>
                                  <p><strong>{{ block.settings.popup_title }}</strong></p>
                                  {{ block.settings.popup_text }}
                                </div>
                            </div>
                            <script>
                                let popuplink = document.querySelector('.product-info__popup-link');
                                let popupclose = document.querySelector('.product-info__popup-close');
                                let popuptext = document.querySelector('.product-info__popup');
                                let popupActive = false;

                                popuplink.addEventListener('click', function(e) {
                                  e.preventDefault();
                                  popupActive = true;
                                  popuptext.classList.add('visible');
                                });
                                popupclose.addEventListener('click', function(e) {
                                  e.preventDefault();
                                  popupActive = false;
                                  popuptext.classList.remove('visible');
                                })
                            </script>
                            {% endif %}
  						{% endif %}
  					{%- endcase -%}
  				{%- endfor -%}

				{% comment %}
					/snippets/bv-summary.liquid
					Bazaarvoice Summary Container
				{% endcomment %}
				{% render 'bv-summary' %}
				{% comment %}
					End Bazaarvoice Summary Container
				{% endcomment %}

				<div class="product-info--reviews t--sm mb--1">
					<div
						class="yotpo bottomLine"
						data-appkey="{{ 'X4KHxrND1oercUh3HfIFooq89AssgJqUPZYnWaQo' | escape }}"
						data-domain="{{ shop.permanent_domain | escape }}"
						data-product-id="{{ product.id }}"
						data-product-models="{{ product.id }}"
						data-name="{{ product.title | escape }}"
						data-url="{{ shop.url }}{{ product.url }}"
						data-image-url="{{ product.featured_image | img_url: 'large' | replace: '?', '%3F' | replace: '&', '%26' }}"
						data-description="{{ product.description | escape }}"
						data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}"></div>
				</div>

				<div class="t--sm">
					{{ product.description | strip_html }}
				</div>

			</div>

			<div class="product-info__form">

				{% comment %}
					--- Form wrapper
				{% endcomment %}

				{%- assign product_form_id = 'product-form-' | append: section.id -%}

					<product-form class="product-form">

					<div class="product-form__error-message-wrapper">
						<div class="product-form__error-message"></div>
					</div>

					{% comment %}
						--- Product form tag
					{% endcomment %}

					{%- form 'product', 
						product, 
						id: product_form_id, 
						class: 'form mt--2', 
						novalidate: 'novalidate', 
						data-type: 'add-to-cart-form' %}

						{% comment %}
							--- Multiple variants
						{% endcomment %}

						{%- unless product.has_only_default_variant -%}

							<div class="product-form__variants mb--1">
								<variant-selects
									class="no-js-hidden"
									data-section="{{ section.id }}"
									data-url="{{ product.url }}"
									{{ block.shopify_attributes }}>
									{%- for option in product.options_with_values -%}
										<div class="product-form__input product-form__input--dropdown">
											<label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}</label>
											<div class="select">
												<select
													id="Option-{{ section.id }}-{{ forloop.index0 }}"
													class="select__select"
													name="options[{{ option.name | escape }}]"
													form="product-form-{{ section.id }}">
													{%- for value in option.values -%}
														<option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
															{{ value }}
														</option>
													{%- endfor -%}
												</select>
											</div>
										</div>
									{%- endfor -%}
									<script type="application/json">{{ product.variants | json }}</script>
								</variant-selects>
							</div>

						{%- endunless -%}

						<noscript>
							<div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
								<label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
								<div class="select">
									<select
										name="id"
										id="Variants-{{ section.id }}"
										class="select__select"
										form="product-form">
										{%- for variant in product.variants -%}
											<option
												{% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
												{% if variant.available == false %}disabled{% endif %}
												value="{{ variant.id }}">
												{{ variant.title }}
												{%- if variant.available == false %}
													- {{ 'products.product.sold_out' | t }}{% endif %}
												- {{ variant.price | money | strip_html }}
											</option>
										{%- endfor -%}
									</select>
								</div>
							</div>
						</noscript>

						{% comment %}
							--- Bold subscription
						{% endcomment %}

						{% render 'bsub-widget' %}

						{% comment %}
							--- Pricing note
						{% endcomment %}

						{%- for block in section.blocks -%}
							{%- case block.type -%}
								{%- when 'pricing_note' -%}
								{% if block.settings.pricing_text != blank %}
									<div class="product-form__subtext">
										{{ block.settings.pricing_text | replace: '<p>', '' | replace: '</p>', '' }}
									</div>
								{% endif %}
							{%- endcase -%}
						{%- endfor -%}

						{% comment %}
							--- Bold subscription
						{% endcomment %}

						<div class="product-form__wrapper mt--1">

							{%- comment -%}
								--- Quantity selector
							{%- endcomment -%}

							<div class="product-form__quantity hidden" {{ block.shopify_attributes }}>
								<label class="form__label is--hidden" for="Quantity-{{ section.id }}">
									{{ 'products.product.quantity.label' | t }}
								</label>
								<quantity-input class="quantity-selector ">
									<button
										class="quantity-selector__remove no-js-hidden"
										name="minus"
										type="button">
										<span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
										{% render 'icon-minus' %}
									</button>
									<input
										class="quantity-selector__amount"
										type="number"
										name="quantity"
										id="Quantity-{{ section.id }}"
										min="1"
										value="1"
										form="{{ product_form_id }}">
									<button
										class="quantity-selector__add no-js-hidden"
										name="plus"
										type="button">
										<span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
										{% render 'icon-plus' %}
									</button>
								</quantity-input>
							</div>

							{%- comment -%}
								--- Add to cart
							{%- endcomment -%}

							<input
								type="hidden"
								name="id"
								value="{{ product.selected_or_first_available_variant.id }}">

							<div class="product-form__addtocart">
								<button
									type="submit"
									name="add"
									class="product-form__submit button button-arrow button-full{% if product.selected_or_first_available_variant.available == true %} button-solid{% else %} button-disabled{% endif %}"
									{% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
									{%- if product.selected_or_first_available_variant.available -%}
										{{ 'products.product.add_to_cart' | t }}
									{%- else -%}
										{{ 'products.product.sold_out' | t }}
									{%- endif -%}
								</button>
							</div>

							{%- comment -%}
								--- Dyanamic payment 
								{%- if section.settings.show_dynamic_checkout -%}
								<div class="product-form__buttons mt--1 mb--1">
								{{ form | payment_button }}
								</div>
								{%- endif -%}							
							{%- endcomment -%}

						</div>

					{%- endform -%}

				</product-form>

				{% comment %}
					--- Promo note
				{% endcomment %}

				{%- for block in section.blocks -%}
					{%- case block.type -%}
						{%- when 'promo_note' -%}
						{% if block.settings.promo_text != blank %}
							<div class="product-form__subtext">
								{{ block.settings.promo_text | replace: '<p>', '' }}
							</div>
						{% endif %}
					{%- endcase -%}
				{%- endfor -%}

				{% render 'product-schema' %}

				{% comment %}
					- Product features metafield widget
				{% endcomment %}

				{% if product.metafields["custom_fields"]["product_features"] != blank %}
					<div class="product-accordion mt--2" id="block-{{ block.id }}">
						<div class="product-accordion__items">
							{% for item in product.metafields["custom_fields"]["product_features"] %}
								<div class="product-accordion__item" data-index="{{ forloop.index0 }}">
									<div class="product-accordion__title">
										{{ item.title }}
									</div>
									<div class="product-accordion__text">
										{% if item.body != blank %}
											<div class="product-accordion__body">
												{{ item.body }}
											</div>
										{% endif %}
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				{% endif %}
			</div>

		</div>
	</div>
</div>

{% assign popups = section.blocks | where: "type", "popup" %}

{%- for block in popups -%}
	<modal-dialog
		id="PopupModal-{{ block.id }}"
		class="product-popup-modal"
		{{ block.shopify_attributes }}>
		<div
			role="dialog"
			aria-label="{{ block.settings.link_label }}"
			aria-modal="true"
			class="product-popup-modal__content"
			tabindex="-1">
			<button
				id="ModalClose-{{ block.id }}"
				type="button"
				class="product-popup-modal__toggle"
				aria-label="{{ 'accessibility.close' | t }}">
				{% comment %} {% render 'icon-close' %} {% endcomment %}
			</button>
			<div class="product-popup-modal__content-info">
				<h1 class="h2">{{ block.settings.page.title }}</h1>
				{{ block.settings.page.content }}
			</div>
		</div>
	</modal-dialog>
{%- endfor -%}


<script src="{{ 'splide.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-media.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-accordion.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'variants.js' | asset_url }}" defer="defer"></script>


{% schema %}
{
	"name": "t:sections.main-product.name",
	"tag": "section",
	"class": "product-section spaced-section",
	"blocks": [
		{
			"type": "@app"
		},
		{
			"type": "announcement",
			"name": "Announcement",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "announcement_text",
					"label": "Text"
				}
			]
		},
		{
			"type": "cutline",
			"name": "Cutline",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "cutline_text",
					"label": "Text"
				}
			]
		},
		{
			"type": "pricing_note",
			"name": "Pricing Note",
			"limit": 1,
			"settings": [
				{
					"type": "richtext",
					"id": "pricing_text",
					"label": "Text",
					"info": "<p>Additional text below variants</p>"
				}
			]
		}, {
			"type": "promo_note",
			"name": "Promo Note",
			"limit": 1,
			"settings": [
				{
					"type": "richtext",
					"id": "promo_text",
					"label": "Text",
					"info": "<p>Additional text below add to cart</p>"
				}
			]
		}, {
			"type": "share",
			"name": "t:sections.main-product.blocks.share.name",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
				}, {
					"type": "paragraph",
					"content": "t:sections.main-product.blocks.share.settings.title_info.content"
				}
			]
		}, {
			"type": "popup",
			"name": "t:sections.main-product.blocks.popup.name",
			"settings": [
				{
					"type": "text",
					"id": "popup_title",
					"label": "Title",
                    "info": "Text with link appears above reviews"
				}, {
					"type": "richtext",
					"id": "popup_text",
					"label": "Text",
					"info": "Text appears in popup"
				}
			]
		}
	],
	"settings": [
		{
			"type": "header",
			"content": "t:sections.main-product.settings.header.content",
			"info": "t:sections.main-product.settings.header.info"
		}, {
			"type": "checkbox",
			"id": "enable_sticky_info",
			"default": true,
			"label": "t:sections.main-product.settings.enable_sticky_info.label"
		}, {
			"type": "checkbox",
			"id": "show_dynamic_checkout",
			"default": true,
			"label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
			"info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
		}
	]
}
{% endschema %}



{% comment %}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-badge.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">
{% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}
- Collapsable info
{{ 'product-accordion.css' | asset_url | stylesheet_tag }}
{{ 'product-media.css' | asset_url | stylesheet_tag }}
<script src="{{ 'slider.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'component-tabnav.min.js' | asset_url }}" defer="defer"></script> 
{%- endcomment -%}
{%- comment -%} <script src="{{ 'splide.js' | asset_url }}" defer="defer"></script> {%- endcomment -%}
{%- comment -%} <script src="{{ 'slider.min.js' | asset_url }}" defer="defer"></script> {%- endcomment -%}
{%- comment -%} <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script> {%- endcomment -%}
{%- comment -%} <script src="{{ 'component-tabnav.min.js' | asset_url }}" defer="defer"></script> {%- endcomment -%}
